
### **Ejercicio 1:**
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [ ]:
mat = 1854410
nom = "Lizeth Serrano Caballero"
print(nom,mat)

Lizeth Serrano Caballero 1854410

### **Ejercicio 2:**
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
n1 = float(input("Ingresa tu primer valor: "))
n2 = float(input("Ingresa tu segundo valor: "))
op = input("Ingresa el numero que corresponde a la operacion deseada 1.-Suma 2.-Resta 3.-Multiplicacion 4.-Division 5.-Exponente")
if op == 1:
  r = n1+n2
elif op == 2:
  r = n1-n2
elif op == 3:
  r = n1*n2
elif op == 4:
  r = n1/n2
else:
  r = n1**n2

print("El resultado de la operacion es: ", r)

Ingresa tu primer valor: 5
Ingresa tu segundo valor: 10
Ingresa el numero que corresponde a la operacion deseada 1.-Suma 2.-Resta 3.-Multiplicacion 4.-Division 5.-Exponente5
El resultado de la operacion es:  9765625.0

### **Ejercicio 3:**
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:
a = 0
b = 0
for i in range(1,11):
  a = i*3
  b = b+a
  print(a)
print("La suma de los componentes del arreglo es: ",b)

3
6
9
12
15
18
21
24
27
30
La suma de los componentes del arreglo es:  165


### **Ejercicio 4:**

*   Con una función de if else, revisar si un número es par o es impar.
*   Con una función de if else, revisar si un número es primo o no.

In [ ]:
Num = int(input("Ingrese un nuemro: "))
# Punto 1 #
if Num%2 == 0:
  print(Num, "Es un numero par")
else:
  print(Num, "Es un numero impar")

# Punto 2 #
valor = range(2,Num)
con = 0
for n in valor:
  if Num % n==0:
    con +=1
    print("Divisor:",n)

if con>0:
   print("El número no es primo" )
else:
  print("El número es primo")

Ingrese un nuemro: 10
10 Es un numero par
Divisor: 2
Divisor: 5
El número no es primo

### **Ejercicio** 5:
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
class cal():
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
    def mul(self):
        return self.a*self.b
    def div(self):
        return self.a/self.b
    def sub(self):
        return self.a-self.b
    def exp(self):
        return self.a**self.b
a=int(input("Ingresa el primer número: "))
b=int(input("Ingresa el segundo número: "))
obj=cal(a,b)
z=1
while z!=0:
    print("0. Salir")
    print("1. Sumar")
    print("2. Restar")
    print("3. Multiplicar")
    print("4. Dividir")
    print("5. Exponente")
    z=int(input("Ingresa una opción: "))
    if z==1:
        print("Resultado: ",obj.add())
    elif z==2:
        print("Resultado: ",obj.sub())
    elif z==3:
        print("Resultado: ",obj.mul())
    elif z==4:
        print("Resultado: ",round(obj.div(),2))
    elif z==5:
        print("Resultado: ",round(obj.exp(),2))  
    elif z==0:
        print("Saliendo!")
    else:
        print("Opción invalida")
 
#Fuente https://www.sanfoundry.com/python-program-class-performs-basic-calculator-operations/

Ingresa el primer número: 10
Ingresa el segundo número: 2
0. Salir
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
5. Exponente
Ingresa una opción: 1
Resultado:  12
0. Salir
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
5. Exponente
Ingresa una opción: 2
Resultado:  8
0. Salir
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
5. Exponente
Ingresa una opción: 3
Resultado:  20
0. Salir
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
5. Exponente
Ingresa una opción: 4
Resultado:  5.0
0. Salir
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
5. Exponente
Ingresa una opción: 5
Resultado:  100
0. Salir
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
5. Exponente
Ingresa una opción: 0
Saliendo!

# **Tuplas**
Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [ ]:
a = 3.6
b = 4
c = True
d = 4 + 2j
print("La variable a es de tipo: ", type (a))
print("La variable b es de tipo: ", type (b))
print("La variable c es de tipo: ", type (c))
print("La variable d es de tipo: ", type (d))

La variable a es de tipo:  <class 'float'>
La variable b es de tipo:  <class 'int'>
La variable c es de tipo:  <class 'bool'>
La variable d es de tipo:  <class 'complex'>

Crear una tupla con valores enteros, imprimir el primer y último valor.

In [ ]:
t=(10,100,1000,10000)
print("El primer valor de la tuplaes: ",t[0])
print("El ultimo valor de la tupla es: ", t[3])

El primer valor de la tuplaes:  10
El ultimo valor de la tupla es:  10000

Añadir 3 valores de string a la tupla

In [2]:
x=1

Verificar si una variable existe dentro de la tupla.

In [ ]:
t=(10,100,1000,10000)
print("¿El 3 está en la tupla?", 10000 in t)
print("¿El 0 está en la tupla?", 0 in t)

¿El 3 está en la tupla? True
¿El 0 está en la tupla? False

# **Listas**
Crear una lista con 40 elementos aleatorios enteros.

In [3]:
import random as r
L = []
for i in range (1,41):
  L.append(r.randint(1,1000))
print(L)

[112, 297, 9, 49, 260, 366, 82, 8, 847, 584, 292, 388, 6, 350, 276, 735, 883, 155, 667, 32, 789, 531, 765, 497, 511, 718, 817, 211, 273, 682, 968, 268, 289, 452, 764, 521, 521, 866, 137, 702]

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [5]:
#PARES
def pares(x):
    p = []
    for n in x:
        if n % 2 == 0:
            p.append(n)     
    return p
p=pares(L)
#IMPARES
def impares(x):
    i = []
    for n in x:
        if n % 2 != 0:
            i.append(n)       
    return i
im=impares(L)
print ("La lista de pares es: ", p)
print ("La lista de impares es: ", im)

La lista de pares es:  [112, 260, 366, 82, 8, 584, 292, 388, 6, 350, 276, 32, 718, 682, 968, 268, 452, 764, 866, 702]
La lista de impares es:  [297, 9, 49, 847, 735, 883, 155, 667, 789, 531, 765, 497, 511, 817, 211, 273, 289, 521, 521, 137]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [8]:
x

[]

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [10]:
x

[]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.